@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-ExtraBold.otf");
  font-weight: 800;
}
